<section class="payment">
    <div class="container p-5">
        <form action="#">
            <h3 class = " text-center">Payment</h3>
           <p> Name : </p><input class = "input" type="text" placeholder="Enter Your Name"><br><br>
           <p> Mobile : </p><input class = "input" type="number" placeholder="Enter Mobile Number"><br><br>
           <p> OTP : </p><input class = "input" type="number" placeholder="Enter OTP"><br><br>
           <p> Payment : </p><input class = "input" type="text" placeholder="Payment Type"><br><br>
            <input class = "button" style="font-weight: bold;" type="submit" value="Submit">
        </form>
    </div>
 
 </section>
