<section class = "fooditem" >
<table>
    <tr>
        <th><img  class="card-img-top" src="assets/pizza.jpeg" alt="Image not found"></th>
        <th><img  class="card-img-top" src="assets/bbq.jpeg" alt="Image not found"></th>
        <th><img  class="card-img-top" src="assets/grill.jpeg" alt="Image not found"></th>
        <th><img  class="card-img-top" src="assets/burger.jpeg" alt="Image not found"></th>
    </tr>
    <tr style="text-align: center;">
        <td class = "food" style="background-color: rgb(216, 231, 216);">PIZZA</td>
        <td class = "food">BBQ</td>
        <td class = "food" style="background-color: rgb(216, 231, 216);">GRILL CHICKEN</td>
        <td class = "food" style="background-color: rgb(110, 197, 168);">HUMBURGER</td>
    </tr>
    <tr style="text-align: center;">
        <td class = "desc" style="background-color: rgb(149, 178, 233);" >The one which you and friends to share , Thats pizza</td>
        <td class = "desc" style="background-color: rgb(216, 231, 216);">It absorbs heat and give you good feels to taste and eat</td>
        <td class = "desc" style="background-color: rgb(149, 178, 233);" >Like a bubbly and eat with family</td>
        <td class = "desc" style="background-color: rgb(216, 231, 216);">Fill your stomach with a single piece<br></td>
    </tr>
    <tr style="text-align: center;">
        <td class = "button"><a routerLink = "payment" class="btn btn-primary">Rs. 250</a></td>
        <td class = "button"> <a routerLink = "payment" class="btn btn-primary">Rs. 200</a></td>
        <td class = "button"> <a routerLink = "payment" class="btn btn-primary">Rs. 450</a></td>
        <td class = "button"> <a routerLink = "payment" class="btn btn-primary">Rs. 150</a></td>
    </tr>
    
</table>
</section>
